%h3 Settings
= simple_form_for current_user do |f|
  .row
    .small-8.columns= f.input :url
  .row
    .small-8.columns= f.input :subject
  .row
    .small-8.columns= f.input :message, as: :text, input_html: {style: 'height: 300px;'}
  = f.button :submit, 'Submit'
