- if current_user.ready?
  %h1 Listing rooms
  %table
    %thead
      %tr
        %th Link
        %th Email
        %th Emailed at
        %th{:colspan => "3"}
    %tbody
      - @rooms.each do |room|
        %tr
          %td= link_to 'Show', room.href
          %td= link_to room.email, "mailto:#{room.email}" if room.email.present?
          %td= room.emailed_at.localtime.strftime('%-m/%-d/%y %H:%M') if room.emailed_at
          %td= link_to 'Edit', edit_room_path(room)
          %td= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' }
  %br/

= render 'settings'
